---
apiVersion: v2
# renovate: image=ghcr.io/paperless-ngx/paperless-ngx
appVersion: "2.20.6"
description: Paperless - Index and archive all of your scanned paper documents
name: paperless
version: 2.2.0
kubeVersion: ">=1.16.0-0"
home: https://github.com/di0ik/helm-charts/tree/main/helm/paperless
sources:
  - https://github.com/paperless-ngx/paperless-ngx
dependencies:
  - name: common
    repository: https://di0ik.github.io/helm-charts
    version: 2.3.1
  - name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 18.3.0
    condition: postgresql.enabled
  - name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 25.2.0
    condition: redis.enabled
